@model LoginViewModel

<h4>Login</h4>

<form method="post">
    <p>
        Username: <input asp-for="UserName" />
    </p>
    <p>
        Password: <input asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Login" />
    </p>
</form>
