

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Category Create</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" id="Code" name="code" placeholder="Code">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea cols="20" rows="5" class="form-control" id="Description" name="description" placeholder="Description"></textarea>
            </div>
            
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
