@model SMECommerce.app.Models.CategoryModels.CategoryEditVm

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Category Create</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input asp-for="Name" class="form-control"  placeholder="Name" />
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input asp-for="Code" class="form-control" placeholder="Code" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
